<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html" charset="UTF-8">
	<title>Brew Search</title>

	<script type="text/javascript" src="js/vendor/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
	<header>
		<h1>Brew Lookup</h1>
	</header>

	<div id="content" class="content">
		<form id="beer-search" method="get" accept-charset="utf-8" action="">
			<input type="text" class="search" name="q" value="<%= Rack::Utils.escape_html @query %>" placeholder="Search for a beer">
		</form>

		<div class="results">
			<% if @beers && @beers.empty? %>
				<p>Your search returned no results. :(</p>
			<% end %>
			<ul>
				<% @beers.each do |beer| %>
				<li class="beer">
					<% if beer.image_url? %>
						<img src="<%= beer.image_url %>" alt="<%= beer.name %>"/>
					<% else %>
						<span class="noimg"></span>
					<% end %>

					<span class="name"><%= beer.name %></span>
					<span class="description"><%= beer.description %></span>
				</li>
				<% end  if @beers %>
			</ul>

			<% if @error %>
				<%= @error %>
			<% end %>
		</div>
	</div>

	<footer>

	</footer>
</body>
</html>